*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

select {
  font-size: 20px;
  margin: 10px;
}

table {
  border-collapse: collapse;
  width: 80%;
  margin: 20px auto;
}

th,
td {
  border: 1px solid black;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #4caf50;
  color: white;
}
